.begrunnelsesfelt textarea {
    max-height: 500px;
    overflow-y: auto;
}
.begrunnelsesfelt__labeltekst {
    font-weight: 400;
    margin-bottom: 0;
}
.begrunnelsesfelt__liste {
    margin-top: 0;
    padding-left: 1rem;
    font-weight: 400;
}
