.opptjeningAktivitetForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  position: absolute;

  &__element {
    flex: 1 0 50%;
  }

  &__buttons {
    margin-top: 1rem;
    margin-left: auto;

    .knapp--hoved {
      margin-right: 1rem;
      top: 2px;
    }
  }

  .godkjenningGroup {
    border: 2px solid #ffa733;
    border-radius: 5px;
    padding: 0.75rem;
    margin-right: 1rem;
  }

  .textarea--medMeta {
    height: 91px !important;
  }
}
