.dokumentnavigasjon {
    &__heading {
        padding: 1.25rem 0.9375rem 0;
    }

    &__container {
        flex-grow: 1;
        margin-top: 1rem;
        min-width: 26rem;
    }

    &__columnHeadings {
        position: relative;
        display: flex;
        margin-bottom: 0.75rem; 
    }
    /* important pga https://github.com/webpack-contrib/mini-css-extract-plugin/issues/188 */
    &__columnHeading--first {
        margin-left: 0.875rem !important;
    }

    &__columnHeading--second {
        margin-left: 1.375rem;
    }

    &__columnHeading--third {
        margin-left: 4.6875rem !important;
    }

    &__columnHeading--fourth {
        margin-left: 3.9375rem !important;
    }
}
