.dokumentnavigasjonContainer {
    flex-grow: 1;
    margin-top: 1rem;
    min-width: 400px;

    &__columnHeadings {
        display: flex;
        margin-bottom: 0.75rem;
    }

    &__columnHeading--first {
    }

    &__columnHeading--second {
        margin-left: 1.625rem;
    }

    &__columnHeading--third {
        margin-left: 6.875rem;
    }

    &__columnHeading--fourth {
        margin-left: 3.125rem;
    }
}
