.vurderingsoversikt {
  display: flex;

  &__navigationSection {
    display: flex;
    flex-wrap: wrap;
    max-width: 485px;

    &__nyVurderingKnapp {
      margin-left: auto;
    }
  }

  &__vurderingsvelgerContainer {
    flex-grow: 1;
    margin-top: 1rem;
  }
}
