.diagnosekodeoversikt {
    &__modal {
        overflow: visible;
        color: #262626;

        :global .autocomplete ul {
            position: absolute;
        }
    }

    &__titleContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
