.dokumentasjonFooter {
  display: flex;
  align-items: baseline;
  max-width: 1190px;

  &__firstSection {
    width: 396px;
  }

  &__secondSection {
    width: 396px;
    margin-left: 2rem;
  }

  &__thirdSection {
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 2rem;
    max-width: 396px;
  }
}
