.aktivitetTabell {
  display: table;
  width: 100%;

  tr {
    text-align: left;

    td, th {
      padding: 0.5rem;
    }
  }

  &__thead {
    display: table-header-group;
  }

  &__tbody {
    display: table-row-group;
  }

  &__tr {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: table-row;

    &__btnContainer {
      position: relative;

      &__btn {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
      }
    }

    &:hover {
      background-color: #E9E7E7;
    }
  }

  &__td, &__th {
    display: table-cell;
    padding: 1rem;
  }

  &__th {
    border-bottom: 1px solid #3e3832;
    font-weight: 600;
  }

  &__td {
    border-bottom: 1px solid #c6c2bf;
    cursor: pointer;
  }
}

.sr-only {
  display: none;
}
