.interactiveList {
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.interactiveListElement {
  padding: 0.5rem;
  border-bottom: 1px solid #C6C2BF;

  &:hover {
    background: #F2F7FC;
  }
}

.interactiveListElement--active {
  background: #F2F7FC;
  border: 1px solid #0067C5 !important;
}

.interactiveListElement:first-child {
  border-top: 1px solid #C6C2BF;
}
